{% extends 'partials/base.html' %}
<title>{% block title %}Password Reset Done Page{% endblock title %}</title>
{% load crispy_forms_tags %}
{% block content %}

    <style>
        .cover{
            background: url('/media/banner.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        } 
    </style>
   
    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col-md-5 offset-md-6">
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <h4>Password Reset Done Page</h4>
                        <hr>
                        <div class="alert alert-info">
                            A mail with instruction to reset password has been sent to the email you provided.
                        </div>
                       
                       
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
{% endblock%}

